
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    color: #fff;
    background-color: black;
    padding: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 span {
    color: #f00;
}
#home-page h1 {
    font-size: 400%;
    color: green;
}
#about-me h1 {
    color: blue;
}
#contact-me h1 {
    color: purple;
}

body {
    font-family: 'Roboto', sans-serif;
}

a:link {
    color: red;
}
a:visited {
    color: orange;
}
a:hover {
    color: blue;
}
a:active {
    color: green;
}

h1 {
    margin: 0 0 20px 0;
}

img {
    max-width: 100%;
}

#container {
    max-width: 800px;
    margin: auto;
}
nav {
    padding: 20px;
    background-color: grey;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid grey;
}
nav ul li:first-child {
    padding-left: 0;
    border-left: 0;
}

footer {
    border-top: 1px solid grey;
    text-align: center;
    padding: 20px 0 20px 0;
    color: grey;
}