
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, h1 span {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    
}

main {
    max-width: 800px;
    margin: auto;
}

h1#name {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Comforter Brush', cursive;
    background-color: #000;
    color: red;
    text-align: center;
    padding: 10px;
}
h1#name span {
    color: orange;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Comforter Brush', cursive;
}

footer {
    border-top: 1px solid black;
    font-size: 70%;
    text-align: center;
    padding: 10px;
}

.stars {
    color: orange;
}