
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    color: #fff;
    background-color: black;
    padding: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 span {
    color: #f00;
}
#home-page h1 {
    font-size: 400%;
    color: green;
}
#about-me h1 {
    color: blue;
}
#contact-me h1 {
    color: purple;
}

body {
    font-family: 'Roboto', sans-serif;
}

a:link {
    color: red;
}
a:visited {
    color: orange;
}
a:hover {
    color: blue;
}
a:active {
    color: green;
}
