
/*
#2 TODO: Change default font to Roboto
#3 TODO: Change header fonts to Roboto Slab
#5 TODO: Make website responsive
*/

body {
    margin: 0;
}

a:link,
a:visited,
a:active,
a:hover {
    color: cornflowerblue;
    text-decoration: none;
}

.full-black {
    background-color: black;
}
.full-blue {
    background-color: cornflowerblue;
    padding: 50px 0;
}
.full-grey {
    background-color: #eee;
    padding: 50px 0;
}

.secondary {
    color: purple;
}
/* Nav styles */

nav {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    padding: 20px;
    align-items: center;
}
#nav-left {
    flex-grow: 1;
}
#nav-left img {
    width: 40px;
}
#nav-right {
    flex-grow: 1;
    text-align: right;
}
#nav-right ul {
    list-style: none;
    margin: 0;
}
#nav-right li {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid lightgrey;
    margin: 0;
}
#nav-right li:first-child {
    border-left: 0;
}

/* Header styles */

header {
    padding: 40px 0 0;
    text-align: center;
}
#header-robot img {
    margin-top: 50px;
    width: 500px;
    display: block;
    margin: auto;
}

/* Bio styles */

#bio {
    max-width: 500px;
    margin: auto;
    color: white;
}
#bio-profile {
    text-align: center;
}

/* Profiles styles */

#profiles {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
}
#profiles-designer,
#profiles-coder {
    flex-grow: 1;
    text-align: center;
}

/* Project styles */

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    row-gap: 40px;
    column-gap: 5%;
    margin: auto;
}
#projects > div {
    flex-basis: 30%;
    text-align: center;
}
.project-langauges img {
    width: 30px;
}
.project-langauges {
    padding: 0 0 5px;
}
.project-profile > img:first-child {
    width: 90%;
    max-width: 90%;
}


/* Footer */

footer {
    padding: 20px;
    text-align: center;
    color: white;
}

#footer-social {
    padding-top: 20px;
}
#footer-social img {
    width: 40px;
    margin: 0 10px;
}