
/* 
Orange: #FF5622
Dark Blue: #404551
Grey: #D9D9D9
*/

body {
    background-color: #404551;
}
nav,
header,
aside,
main,
#gallery,
footer {
    background-color: #D9D9D9;
    padding: 10px;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "nav nav"
      "header header"
      "aside main"
      "gallery gallery"
      "footer footer";
    column-gap: 10px;
    row-gap: 10px;
    max-width: 1200px;
    margin: auto;
}
@media (max-width: 768px) {
    #container {
        grid-template-areas: 
        "nav nav"
        "header header"
        "main main"
        "gallery gallery"
        "footer footer";
    }
}

img {
    max-width: 100%;
    display: block;
}

nav {
    grid-area: nav;
}
@media (max-width: 768px) {
    nav a {
        display: block;
        text-align: center;
    }
    nav .bar {
        display: none;
    }
}
header {
    grid-area: header;
    text-align: center;
}


aside {
    grid-area: aside;
}
@media (max-width: 768px) {
    aside {
        display: none;
    }
}
main {
    grid-area: main;
}
#gallery {
    grid-area: gallery;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
}
#gallery > div {
    border: 5px solid #FF5622;
}

@media (max-width: 768px) {
    #gallery {
        padding: 0px;
        background-color: transparent;
        flex-direction: column;
        row-gap: 10px;
    }
}
footer {
    grid-area: footer;
}
